@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 97%;
    /* --secondary: 210 40% 95%; */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./css/pretendard.css";
@import "./css/pretendard-subset.css";

* {
  font-family: "Pretendard";
  padding: 0;
  margin: 0;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  /* border: 1px solid black; */
  list-style: none;
}

.page {
  width: 21cm;
  min-height: 29.7cm;
}

@page {
  size: A4 portrait;
}

.list-none2 {
  list-style-type: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cover-letter {
  margin-top: 1.25rem;
  font-weight: 400;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  line-height: 1.75rem;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.flex2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radical-bg {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    ellipse at 80% 30%,
    rgba(225, 225, 225, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.menu-item {
  width: 100%;
  padding: 0.75rem 0.5rem;
  transition: 300ms;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.25rem;
}

* {
  scroll-margin-top: 100px;
  /* border: 1px solid black; */
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #3b82f6;
}

.card {
  border: none;
  box-shadow: none;
  background-color: transparent;
  border-radius: 0;
}
